* {
    box-sizing: border-box;
}

:root {
    --primary-color: #F64DD1;
    --primary-color-50: #F64DD180;
    --primary-color-25: #F64DD140;
    --second-color: #0BE7F7;
    --third-color: #27ADE3;
    --fourth-color: #002D84;
    --fourth-color-75: #002D84BF;
    --basic-dark: #2C2C2C;
    --basic-dark-50: #2C2C2C80;
    --basic-dark-75: #2C2C2CBF;
    --basic-light: #FEFEFE;
    --basic-light-75: #FEFEFEBF;
    --section-padding: 60px;
}

a {
    text-decoration: none;
}

body {
    font-family: "Almarai", sans-serif;
}

/* Start Color */
.text-color-primary {
    color: var(--primary-color);
}

.text-color-second {
    color: var(--second-color);
}

.text-color-third {
    color: var(--third-color);
}

.text-color-fourth {
    color: var(--fourth-color);
}

.text-color-dark-50 {
    color: var(--basic-dark-50);
}

/* End Color */
/* Start Background */
.basic-light-75 {
    background-color: var(--basic-light-75);
}

/* End Background */
/* Start Shadow */
.primary-shadow {
    box-shadow: 0px 2px 8px 0px var(--primary-color-25);
    -moz-box-shadow: 0px 2px 8px 0px var(--primary-color-25);
    -o-box-shadow: 0px 2px 8px 0px var(--primary-color-25);
    -ms-box-shadow: 0px 2px 8px 0px var(--primary-color-25);
    -webkit-box-shadow: 0px 2px 8px 0px var(--primary-color-25);
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: sticky 1s
}

/* End Shadow */
/* Start Ready Button */
.primary-btn,
.fourth-btn,
.basic-light-btn {
    padding: 0.8em 1.2em;
    background-color: transparent;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s linear;
    font-weight: 400;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    z-index: 1;
}

.primary-btn {
    color: var(--primary-color);
}

.basic-light-btn {
    color: var(--basic-light);
}

.fourth-btn {
    color: var(--basic-light);
    background-color: var(--fourth-color);
    border: none;
}

.primary-btn::before,
.primary-btn::after,
.fourth-btn::before,
.fourth-btn::after,
.basic-light-btn::before,
.basic-light-btn::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    transition: 1s ease;
}

.primary-btn::before,
.primary-btn::after {
    background-color: var(--primary-color);
}

.fourth-btn::before,
.fourth-btn::after {
    background-color: var(--primary-color);
}

.basic-light-btn::before,
.basic-light-btn::after {
    background-color: var(--basic-light);
}

.primary-btn::before,
.fourth-btn::before,
.basic-light-btn::before {
    top: -1em;
    left: -1em;
}

.primary-btn::after,
.fourth-btn::after,
.basic-light-btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.primary-btn:hover::before,
.primary-btn:hover::after,
.fourth-btn:hover::before,
.fourth-btn:hover::after,
.basic-light-btn:hover::before,
.basic-light-btn:hover::after {
    height: 510px;
    width: 510px;
}

.primary-btn:hover {
    color: var(--basic-light);
}

.basic-light-btn:hover {
    color: var(--basic-dark);
}

.primary-btn:active,
.fourth-btn:active,
.basic-light-btn:active {
    filter: brightness(.8);
}

/* ENd Ready Button */
/* Start */
.main-wrapper {
    display: flex;
    flex-direction: column;
}

.main-wrapper #main-content {
    flex: 1 1 0;
}

/* End */
/* Start Header */
header {
    padding: 10px 0px;
    background-color: var(--basic-light-75);
    border-radius: 0px 0px 40px 40px;
}

header nav .navbar-brand img {
    width: 180px;
    height: 50px;
    object-fit: contain;
}

header nav ul.navbar-nav .nav-item .nav-link {
    font-weight: 500;
    color: var(--basic-dark);
    text-align: center;
}

header nav .sign-btn,
#sign-page .sign-box .sign-btn {
    box-shadow: 0px 5px 0px var(--primary-color);
    border-color: transparent;
    transition: all .3s linear;
}

header nav .sign-btn:hover,
#sign-page .sign-box .sign-btn:hover {
    box-shadow: 0 0;
}

/* End Header */
/* Start Vesrions */
#vesrions {
    background-color: var(--basic-light-75);
    border-radius: 80px 80px 0px 0px;
    padding: 15px 10px;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 55;
    width: 90%;
}

#vesrions .mobile-ver,
#vesrions .vr-ver,
#vesrions .desktop-ver {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#vesrions .row .col-md-2:nth-child(2) {
    border-color: var(--fourth-color) !important;
}


@media (max-width: 768px) {
    #vesrions .mobile-ver,
#vesrions .vr-ver,
#vesrions .desktop-ver {
    flex-wrap: wrap;
}
}
/* End Vesrions */
/* Start Footer */
footer{
    background-color: #fff;
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) / 2);
}
footer .top-footer {
    padding-bottom: var(--section-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
footer .top-footer ul.social-media{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
footer .bottom-footer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    border-top: 1px solid var(--fourth-color);
}
footer .bottom-footer .privacy-page ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}   
footer .bottom-footer .privacy-page ul li a{
    color: var(--fourth-color-75);
}
footer .bottom-footer .copyright{
    font-weight: 400;
    color: var(--fourth-color-75);
}
@media (max-width: 991px) {
    footer .top-footer,
    footer .bottom-footer{
        justify-content: center;
    }
    footer .bottom-footer{
        padding-bottom: 100px;
    }
}
/* End Footer */
/* Start Sign In Page */
#sign-page,
#login-page {
    padding-top: calc(var(--section-padding) * 2);
    padding-bottom: var(--section-padding);
    background-image: url(../img/login-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70dvh;
}

#sign-page .sign-box {
    margin: auto;
    background-color: #FEFEFE1F;
    border-radius: 40px;
    border: 1px solid var(--third-color);
    max-width: 550px;
}

#sign-page .sign-box .content,
#login-page .login-box .content {
    border-radius: 40px;
    padding: 40px;
}

#sign-page .sign-box .content form input,
#login-page .login-box .content form input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: 0;
}
#sign-page .sign-box .content form .form-group > div,
#login-page .login-box .content form .form-group > div {
    box-shadow: 0px 2px 12px rgba(44, 44, 44, 0.08);
}

#sign-page .sign-box .content form input:focus {
    outline: 0;
}

#sign-page .sign-box .content form input::placeholder,
#login-page .login-box .content form input::placeholder {
    color: var(--basic-dark-50);
    text-align: right;
}

#sign-page .sign-box .content .pass-input,
#login-page .login-box .content .pass-input {
    box-shadow: 0px 2px 12px rgba(44, 44, 44, 0.08);
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--basic-light-75);
}

#sign-page .sign-box .content .pass-input .pass-icon,
#login-page .login-box .content .pass-input .pass-icon {
    cursor: pointer;
    user-select: none;
    transition: all .5s ease-out;
}

#sign-page .sign-box .content .pass-input input,
#login-page .login-box .content .pass-input input {
    border: none;
    outline: 0;
    flex: 1 1 0;
}

/* End SignIn Page */
/* Start Login Page */
#login-page .login-box {
    margin: auto;
    background-color: #FEFEFE1F;
    border-radius: 40px;
    border: 1px solid var(--third-color);
    max-width: 800px;
}
#login-page .login-box .iti {
    display: flex;
    position: relative;
}
#login-page .login-box .iti .iti__selected-flag{
    gap: 5px;
}
#login-page .login-box .iti .iti__arrow{
    background-image: url(../img/BackArrow_Icon_UIA.svg);
    border-width: 0;
    width: 22px;
    height: 22px;
}
#login-page .login-box .iti .iti__flag-container{
    position: relative;
}
/* End Login Page */
/* Start Animation KeyFrames */
@keyframes sticky {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* End Animation KeyFrames */