* {
    box-sizing: border-box;
}

:root {
    --primary-color: #F64DD1;
    --primary-color-50: #F64DD180;
    --primary-color-25: #F64DD140;
    --second-color: #0BE7F7;
    --third-color: #27ADE3;
    --fourth-color: #002D84;
    --fourth-color-75: #002D84BF;
    --basic-dark: #2C2C2C;
    --basic-dark-50: #2C2C2C80;
    --basic-dark-75: #2C2C2CBF;
    --basic-light: #FEFEFE;
    --basic-light-75: #FEFEFEBF;
    --section-padding: 60px;
}

a {
    text-decoration: none;
}

body {
    font-family: "Almarai", sans-serif;
}

/* Start Color */
.text-color-primary {
    color: var(--primary-color);
}

.text-color-second {
    color: var(--second-color);
}

.text-color-third {
    color: var(--third-color);
}

.text-color-fourth {
    color: var(--fourth-color);
}

.text-color-light {
    color: var(--basic-light);
}

.text-color-light-75 {
    color: var(--basic-light-75);
}

.text-color-dark-50 {
    color: var(--basic-dark-50);
}

.text-color-dark-75 {
    color: var(--basic-dark-75);
}

/* End Color */
/* Start Background */
.basic-light-75 {
    background-color: var(--basic-light-75);
}

/* End Background */
/* Start Shadow */
.primary-shadow {
    box-shadow: 0px 2px 8px 0px var(--primary-color-25);
    -moz-box-shadow: 0px 2px 8px 0px var(--primary-color-25);
    -o-box-shadow: 0px 2px 8px 0px var(--primary-color-25);
    -ms-box-shadow: 0px 2px 8px 0px var(--primary-color-25);
    -webkit-box-shadow: 0px 2px 8px 0px var(--primary-color-25);
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: sticky 1s
}

/* End Shadow */
/* Start Ready Button */
.primary-btn,
.primary-btn-fill,
.fourth-btn,
.basic-light-btn {
    padding: 0.8em 1.2em;
    background-color: transparent;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s linear;
    font-weight: 400;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    z-index: 1;
}

.primary-btn {
    color: var(--primary-color);
}

.primary-btn-fill {
    color: var(--basic-light);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.basic-light-btn {
    color: var(--basic-light);
}

.fourth-btn {
    color: var(--basic-light);
    background-color: var(--fourth-color);
    border: none;
}

.primary-btn::before,
.primary-btn::after,
.primary-btn-fill::before,
.primary-btn-fill::after,
.fourth-btn::before,
.fourth-btn::after,
.basic-light-btn::before,
.basic-light-btn::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    transition: 1s ease;
}

.primary-btn::before,
.primary-btn::after {
    background-color: var(--primary-color);
}

.primary-btn-fill::before,
.primary-btn-fill::after {
    background-color: var(--fourth-color-75);
}

.fourth-btn::before,
.fourth-btn::after {
    background-color: var(--primary-color);
}

.basic-light-btn::before,
.basic-light-btn::after {
    background-color: var(--basic-light);
}

.primary-btn::before,
.primary-btn-fill::before,
.fourth-btn::before,
.basic-light-btn::before {
    top: -1em;
    left: -1em;
}

.primary-btn::after,
.primary-btn-fill::after,
.fourth-btn::after,
.basic-light-btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.primary-btn:hover::before,
.primary-btn:hover::after,
.primary-btn-fill:hover::before,
.primary-btn-fill:hover::after,
.fourth-btn:hover::before,
.fourth-btn:hover::after,
.basic-light-btn:hover::before,
.basic-light-btn:hover::after {
    height: 510px;
    width: 510px;
}

.primary-btn:hover {
    color: var(--basic-light);
}

.primary-btn-fill:hover {
    color: var(--primary-color);
    background-color: transparent;
}

.basic-light-btn:hover {
    color: var(--basic-dark);
}

.primary-btn:active,
.primary-btn-fill:active,
.fourth-btn:active,
.basic-light-btn:active {
    filter: brightness(.8);
}

/* ENd Ready Button */
/* Start */
.main-wrapper {
    display: flex;
    flex-direction: column;
}

.main-wrapper #main-content {
    flex: 1 1 0;
}

/* End */
/* Start Header */
header {
    padding: 10px 0px;
    background-color: var(--basic-light-75);
    border-radius: 0px 0px 40px 40px;
    backdrop-filter: blur(4px)
}

header nav .navbar-brand img {
    width: 180px;
    height: 50px;
    object-fit: contain;
}

header nav ul.navbar-nav .nav-item .nav-link {
    font-weight: 500;
    position: relative;
    color: var(--basic-dark);
    text-align: center;
}

header nav ul.navbar-nav .nav-item .nav-link.active::after,
header nav ul.navbar-nav .nav-item .nav-link.active::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
}

header nav ul.navbar-nav .nav-item .nav-link.active::before {
    right: -20px;
    background-image: url(../img/header-link-arrow-right.svg);
}

header nav ul.navbar-nav .nav-item .nav-link.active::after {
    left: -15px;
    background-image: url(../img/header-link-arrow-left.svg);

}

header nav .sign-btn,
#sign-page .sign-box .sign-btn {
    box-shadow: 0px 5px 0px var(--primary-color);
    border-color: transparent;
    transition: all .3s linear;
}

header nav .sign-btn:hover,
#sign-page .sign-box .sign-btn:hover {
    box-shadow: 0 0;
}

/* End Header */
/* Start Vesrions */
#vesrions {
    background-color: var(--basic-light-75);
    border-radius: 80px 80px 0px 0px;
    padding: 15px 10px;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 55;
    width: 90%;
}

#vesrions .mobile-ver,
#vesrions .vr-ver,
#vesrions .desktop-ver {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (min-width: 992px) {

    #vesrions .row .col-md-2:nth-child(2),
    #vesrions-section .row .col-md-2:nth-child(2) {
        border-color: var(--fourth-color) !important;
    }
}

@media (max-width: 991px) {

    #vesrions .row .col-md-2:nth-child(2),
    #vesrions-section .row .col-md-2:nth-child(2) {
        border-color: transparent !important;
    }
}


@media (max-width: 768px) {

    #vesrions .mobile-ver,
    #vesrions .vr-ver,
    #vesrions .desktop-ver {
        flex-wrap: wrap;
    }
}

/* End Vesrions */
/* Start Footer */
footer {
    background-color: #fff;
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) / 2);
}

footer .top-footer {
    padding-bottom: var(--section-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer .top-footer ul.social-media {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

footer .bottom-footer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    border-top: 1px solid var(--fourth-color);
}

footer .bottom-footer .privacy-page ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

footer .bottom-footer .privacy-page ul li a {
    color: var(--fourth-color-75);
}

footer .bottom-footer .copyright {
    font-weight: 400;
    color: var(--fourth-color-75);
}

@media (max-width: 991px) {

    footer .top-footer,
    footer .bottom-footer {
        justify-content: center;
    }

    footer .bottom-footer {
        padding-bottom: 100px;
    }
}

/* End Footer */
/* Start Sign In Page */
#sign-page,
#login-page {
    padding-top: calc(var(--section-padding) * 2);
    padding-bottom: var(--section-padding);
    background-image: url(../img/login-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70dvh;
}

#sign-page .sign-box {
    margin: auto;
    background-color: #FEFEFE1F;
    border-radius: 40px;
    border: 1px solid var(--third-color);
    max-width: 550px;
}

#sign-page .sign-box .content,
#login-page .login-box .content {
    border-radius: 40px;
    padding: 40px;
}

#sign-page .sign-box .content form input,
#login-page .login-box .content form input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: 0;
}

#sign-page .sign-box .content form .form-group>div,
#login-page .login-box .content form .form-group>div {
    box-shadow: 0px 2px 12px rgba(44, 44, 44, 0.08);
}

#sign-page .sign-box .content form input:focus {
    outline: 0;
}

#sign-page .sign-box .content form input::placeholder,
#login-page .login-box .content form input::placeholder {
    color: var(--basic-dark-50);
    text-align: right;
}

#sign-page .sign-box .content .pass-input,
#login-page .login-box .content .pass-input {
    box-shadow: 0px 2px 12px rgba(44, 44, 44, 0.08);
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--basic-light-75);
}

#sign-page .sign-box .content .pass-input .pass-icon,
#login-page .login-box .content .pass-input .pass-icon {
    cursor: pointer;
    user-select: none;
    transition: all .5s ease-out;
}

#sign-page .sign-box .content .pass-input input,
#login-page .login-box .content .pass-input input {
    border: none;
    outline: 0;
    flex: 1 1 0;
}

/* End SignIn Page */
/* Start Login Page */
#login-page .login-box {
    margin: auto;
    background-color: #FEFEFE1F;
    border-radius: 40px;
    border: 1px solid var(--third-color);
    max-width: 800px;
}

#login-page .login-box .iti {
    display: flex;
    position: relative;
}

#login-page .login-box .iti .iti__selected-flag {
    gap: 5px;
}

#login-page .login-box .iti .iti__arrow {
    background-image: url(../img/BackArrow_Icon_UIA.svg);
    border-width: 0;
    width: 22px;
    height: 22px;
}

#login-page .login-box .iti .iti__flag-container {
    position: relative;
}

/* End Login Page */
/* Start Hero Section:Home-Page */
#hero-section {
    padding-bottom: var(--section-padding);
}

#hero-section .hero-content {
    padding-top: calc(var(--section-padding) * 1);
    background-image: url(../img/hero-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

#hero-section .hero-content .bg-effect-m {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-effect-hero.gif);
    background-repeat: no-repeat;
    inset: 0;
    background-size: cover;
    z-index: 0;
    opacity: .2;
}

#hero-section .hero-content::after,
#hero-section .hero-content::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}

#hero-section .hero-content::before {
    background-image: url(../img/side-eff-bottom.png);
    bottom: -10%;
    left: -10px;
}

#hero-section .hero-content::after {
    background-image: url(../img/side-eff-top.png);
    top: 10%;
    right: -10px;
}

#hero-section .hero-content .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

#hero-section .hero-content .container .text p {
    line-height: 2.1;
    margin: 25px 0px;
    font-size: clamp(13px, 16px, 5vw);
}

@media (min-width: 991px) {
    #hero-section .hero-content .container .text p {
        max-width: 550px;
        min-width: 499px;
    }
}

#hero-section .hero-content .container .text .explore-app {
    padding: 5px 30px;
}

#hero-section .hero-content .container .text .explore-app span svg path {
    transition: all .3s linear;
}

#hero-section .hero-content .container .text .explore-app:hover span svg path {
    stroke: var(--basic-dark);
}

#hero-section .hero-content .container .image {
    aspect-ratio: 16 / 14;
    align-self: flex-end;
}

#hero-section .hero-content .container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    #hero-section .hero-content .container {
        position: relative;
        flex-direction: column;
        padding-top: var(--section-padding);
        justify-content: flex-end;
    }

    #hero-section .hero-content .container .text {
        text-align: center;
    }

    #hero-section .hero-content .container .image {
        margin: 0px auto;
        max-height: 400px;
    }
}

/* End Hero Section:Home-Page */
/* Start Vesrions Section:Home-Page */
#vesrions-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

#vesrions-section .desktop-ver,
#vesrions-section .vr-ver,
#vesrions-section .mobile-ver {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#vesrions-section .desktop-ver a img,
#vesrions-section .vr-ver a img,
#vesrions-section .mobile-ver a img {
    margin: auto;
}

#vesrions-section .text p {
    max-width: 750px;
    text-align: center;
    margin: 30px auto;
}

#vesrions-section .image {
    text-align: center;
    margin-top: var(--section-padding);
    margin: 45px auto;
}

#vesrions-section .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* End Vesrions Section:Home-Page */
/* Start About Section:Home-Page */
#about-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

#about-section .about-content {
    padding-top: calc(var(--section-padding) * 2);
    padding-bottom: calc(var(--section-padding) * 2);
    position: relative;
    background-image: url(../img/hero-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#about-section .about-content .info .primary-btn-fill {
    border: 1px solid var(--second-color);
}

#about-section .about-content .container {
    position: relative;
}

#about-section .about-content .container .image {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 0px auto;
}

#about-section .about-content .container .image::after,
#about-section .about-content .container .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
}

#about-section .about-content .container .image::before {
    border: 1px solid var(--primary-color);
    transform: rotate(85deg);
}

#about-section .about-content .container .image::after {
    border: 1px solid var(--basic-light);
    transform: rotate(95deg);
}

#about-section .about-content .container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width: 1199px) {
    #about-section .about-content .container .image {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 420px) {
    #about-section .about-content .container .image {
        width: 250px;
        height: 250px;
    }
}

/* End About Section:Home-Page */
/* Start App Users Section:Home-Page */
#app-users {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

#app-users .content .info a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bold;
    color: var(--basic-light);
    background-color: var(--fourth-color);
    text-align: center;
    border: 1px solid var(--primary-color);
}

#app-users .content .images-users .image {
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 15px 30px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
}

#app-users .content .images-users .row div:nth-child(odd) .image {
    background: linear-gradient(180deg, rgb(11 231 247 / 30%) 0%, rgba(246, 77, 209, 0.75) 100%);
}
#app-users .content .images-users .row div:nth-child(even) .image {
    background: linear-gradient(0deg, rgb(11 231 247 / 30%) 0%, rgba(246, 77, 209, 0.75) 100%);
}

#app-users .content .images-users .image img {
    width: 200px;
    height: auto;
    object-fit: cover;
    object-position: center;
}


/* End App Users Section:Home-Page */
/* Start Animation KeyFrames */
@keyframes sticky {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

/* End Animation KeyFrames */